networkx==2.4
sympy==1.4
Shapely==1.6.4.post1
numpy==1.17.2
numba==0.45.1
pandas==0.25.1
scipy==1.3.1
matplotlib==3.1.1
pymatgen==2019.10.4
descartes==1.1.0
anytree==2.8.0
api==0.0.7
geo==0.1
pylab==0.0.2
pyny3d==0.2
rdkit==2009.Q1-1
Routines==0.0.2
Schema==0.7.1
